USE [master]
GO
/****** Object:  Database [Plants]    Script Date: 16.01.2025 1:40:15 ******/
CREATE DATABASE [Plants]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Растения', FILENAME = N'X:\Programs\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Растения.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Растения_log', FILENAME = N'X:\Programs\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Растения_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Plants].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Plants]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 16.01.2025 1:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Mainland] [nvarchar](50) NOT NULL,
	[Capital] [nvarchar](50) NULL,
 CONSTRAINT [PK_Страны] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plants]    Script Date: 16.01.2025 1:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Family] [nvarchar](50) NOT NULL,
	[Section] [nvarchar](50) NULL,
 CONSTRAINT [PK_Растения] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantsRoots]    Script Date: 16.01.2025 1:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantsRoots](
	[CountryId] [int] NOT NULL,
	[PlantId] [int] NOT NULL,
	[Roots] [int] NOT NULL,
 CONSTRAINT [PK_РастенияВСтране] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC,
	[PlantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Countries] ([Id], [Name], [Mainland], [Capital]) VALUES (1, N'Россия                                            ', N'Евразия                                           ', N'Москва                                            ')
INSERT [dbo].[Countries] ([Id], [Name], [Mainland], [Capital]) VALUES (2, N'Чехия                                             ', N'Евразия                                           ', N'Прага                                             ')
INSERT [dbo].[Countries] ([Id], [Name], [Mainland], [Capital]) VALUES (3, N'Германия                                          ', N'Евразия                                           ', N'Берлин                                            ')
GO
SET IDENTITY_INSERT [dbo].[Plants] ON 

INSERT [dbo].[Plants] ([Id], [Name], [Family], [Section]) VALUES (1, N'Мутинус собачий                                   ', N'Веселковые                                        ', N'Грибы                                             ')
INSERT [dbo].[Plants] ([Id], [Name], [Family], [Section]) VALUES (2, N'Рогалик пестиковый                                ', N'Клавариевые                                       ', N'Грибы                                             ')
INSERT [dbo].[Plants] ([Id], [Name], [Family], [Section]) VALUES (3, N'Пиррозия язычная                                  ', N'Многоножковые                                     ', N'Папоротниковидные                                 ')
SET IDENTITY_INSERT [dbo].[Plants] OFF
GO
INSERT [dbo].[PlantsRoots] ([CountryId], [PlantId], [Roots]) VALUES (1, 2, 616)
INSERT [dbo].[PlantsRoots] ([CountryId], [PlantId], [Roots]) VALUES (1, 3, 330)
INSERT [dbo].[PlantsRoots] ([CountryId], [PlantId], [Roots]) VALUES (1, 6, 440)
GO
ALTER TABLE [dbo].[PlantsRoots]  WITH CHECK ADD  CONSTRAINT [FK_РастенияВСтране_Растения] FOREIGN KEY([PlantId])
REFERENCES [dbo].[Plants] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlantsRoots] CHECK CONSTRAINT [FK_РастенияВСтране_Растения]
GO
ALTER TABLE [dbo].[PlantsRoots]  WITH CHECK ADD  CONSTRAINT [FK_РастенияВСтране_Страны] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlantsRoots] CHECK CONSTRAINT [FK_РастенияВСтране_Страны]
GO
USE [master]
GO
